[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy="*"
pandas="*"
requests="*"
pytest="*"
pip = "*"
install = "*"
certifi = "*"
OTXv2 = "*"
xmltodict = "*"


[requires]
python_version = "3.8"
